/* 기본 사이드바 스타일 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

/* 고정된 왼쪽 사이드바 스타일 */
#fixedSidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #ddd;
    padding: 10px;
}

/* 동적 왼쪽 사이드바와 오른쪽 사이드바 초기 위치 설정 */
#dynamicLeftSidebar, #rightSidebar {
    transform: translateX(-100%);
}
